.ForWhom_for-whom {
  padding: 40px 0;
  background-color: var(--color-bg);
  z-index: 0;
  position: relative
}

@media(min-width: 993px) {
  .ForWhom_for-whom {
    padding: 80px 0
  }
}

.ForWhom_for-whom>div {
  width: 100%;
  align-items: flex-end;
  gap: 40px
}

.ForWhom_for-whom p{
  font-size: var(--font-16);
}

@media(min-width: 993px) {
  .ForWhom_for-whom>div {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 904px
  }
}

.ForWhom_for-whom header {
  width: 100%;
  max-width: 565px
}

@media(min-width: 993px) {
  .ForWhom_for-whom header {
    max-width: 515px
  }
}

.ForWhom_for-whom .ForWhom_section-decor {
  left: 0;
  position: absolute;
  width: 43vw;
  bottom: -31px;
  transform: translateX(-18vw);
  pointer-events: none
}

@media(min-width: 993px) {
  .ForWhom_for-whom .ForWhom_section-decor {
    width: 643px;
    bottom: -90px;
    transform: translateX(-450px)
  }
}

@media(max-width: 720px) {
  .ForWhom_for-whom .ForWhom_section-decor {
    display: none;
  }
}