.Result_section {
  padding: 40px 0;
  background-color: var(--color-bg);
  z-index: 0;
  position: relative
}

@media(min-width: 993px) {
  .Result_section {
    padding: 80px 0
  }
}

.Result_section>div {
  width: 100%;
  align-items: flex-end;
  gap: 40px
}

.Result_section p, li {
  font-size: var(--font-16);
}

.Result_section li {
  font-size: var(--font-16);
  color: var(--color-text);
  padding-left: 20px;
  margin-bottom: 10px;
}

.Result_section li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-right: 10px
}

@media(min-width: 993px) {
  .Result_section>div {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 904px
  }
}

.Result_section header {
  width: 100%;
  max-width: 800px
}