@import 'src/styles/_variables.scss';

.course {
  &-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-evenly;
    gap: $gap-s;
  
    img {
      max-height: 210px;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
  }
}