//text colors
$text-primary: #2f6627;
$text-light: #fff;
$text-dark: #000;

//bg colors
$bg-primary: #fcbad0;
$bg-light: #fff;
$bg-dark: #000;

//spacings
$gap-s: 20px;
$gap-m: 30px;
$gap-l: 40px;

//general
$maxWidth: 1200px;
$mediumWidth: 768px