@import 'src/styles/_variables.scss';

p {
  margin: 0;
  span {
    font-weight: 700;
  }
}

.text {
  &--primary {
    color: $text-primary;
  }
  &--light {
    color: $text-light;
  }
  &--dark {
    color: $text-dark;
  }
  &--h1 {
    font-size: 3rem;
  }
  &--h2 {
    font-size: 2rem;
  }
  &--subtitle {
    font-size: 1.5rem;
  }
  &--body {
    font-size: 1rem;
  }
  &--caption {
    font-size: 0.75rem;
  }
  &--bold {
    font-weight: 700;
  }
}