@import 'src/styles/variables.scss';

.content {
  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2f2929;
    color: #fff;
  }
  &-main {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: $gap-s*2;
  }
  &-block {
    min-height: 200px;
    width: 100%;
    &:nth-child(even) {
      background-color: #2f6627;
      color: #000;
    }
  }
  
}