@import 'src/styles/variables.scss';

.content {
  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(14, 85, 41, 1) 100%);
    
  }
  &-main {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: $gap-s*2;
  }
  &-block {
    width: 100%;
  }
  
}