.LeaveContact_leave-contact {
  align-items: center;
  gap: var(--gap);
  display: flex;
  flex-direction: column
}

@media(min-width: 993px) {
  .LeaveContact_leave-contact {
    background-image: url('/assets/page-decor.png');
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: center -870px;
    padding: 80px 0
  }
}

.LeaveContact_leave-contact>div {
  background-color: var(--color-primary);
  padding: 40px 24px;
  background-image: url('/assets/page-decor.png');
  background-repeat: no-repeat;
  background-size: 1370px;
  background-position: 20px -90px;
  gap: 24px
}

@media(min-width: 993px) {
  .LeaveContact_leave-contact>div {
    max-width: 952px;
    padding: 40px 32px;
    border-radius: var(--border-8)
  }
}

@media(max-width: 992px) {
  .LeaveContact_leave-contact>div {
    gap: 20px;
  }
}

.LeaveContact_leave-contact header {
  color: #fff;
  max-width: calc(100% - 100px);
  width: 100%;
  gap: 24px
}

.LeaveContact_leave-contact header p {
  color: #fff
}

.LeaveContact_leave-contact .LeaveContact_section-decor {
  width: 250px;
  pointer-events: none
}

@media(max-width: 992px) {
  .LeaveContact_leave-contact .LeaveContact_section-decor {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
  }
}

@media(min-width: 993px) {
  .LeaveContact_leave-contact .LeaveContact_section-decor {
    
  }
}

.LeaveContact_leave-contact .LeaveContact_form-container {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%
}

.LeaveContact_leave-contact .LeaveContact_form-error {
  color: #99200b;
  margin-top: -18px;
  font-size: 1rem;
}

.LeaveContact_leave-contact .LeaveContact_section-button {
  display: flex;
  gap: 20px;
  width: 100%
}

.LeaveContact_leave-contact .LeaveContact_section-button>div {
  flex: 1;
}

@media(max-width: 992px) {
  .LeaveContact_leave-contact .LeaveContact_form-container {
    flex-direction: column;
    align-items: flex-start
  }
}

.LeaveContact_leave-contact .LeaveContact_form-container>div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%
}

.LeaveContact_leave-contact .LeaveContact_form-container>div input {
  width: 100%
}

.LeaveContact_leave-contact .LeaveContact_form-container>div input[type=email],
.LeaveContact_leave-contact .LeaveContact_form-container>div .PhoneInput,
.LeaveContact_leave-contact .LeaveContact_form-container>div input[type=text] {
  border: 2px solid #fff;
  padding: 11px 8px;
  border-radius: 4px
}

.LeaveContact_leave-contact .LeaveContact_form-container>div input {
  background: transparent;
  color: #fff;
}

.LeaveContact_leave-contact .LeaveContact_form-container>div input[type=email]::placeholder,
// .LeaveContact_leave-contact .LeaveContact_form-container>div input[type=tel]::placeholder,
.LeaveContact_leave-contact .LeaveContact_form-container>div input[type=text]::placeholder {
  color: #fff;
  opacity: .8
}

.LeaveContact_leave-contact .LeaveContact_form-container>div button[type=submit] {
  max-width: 250px
}
