@import 'src/styles/_variables.scss';

.author {
  &-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: $gap-s;

    @media screen and (max-width: $mediumWidth) {
      grid-template-columns: 1fr;
      
    }
  }
  &-img {
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } 
}