@import 'src/styles/_variables.scss';

.footer {
  &-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: $gap-s;

    @media screen and (max-width: $mediumWidth) {
      grid-template-columns: 1fr;
      gap: 0
    }
  }
}