@import 'src/styles/_variables.scss';

.preview {
  &-block {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    gap: $gap-s;
    @media screen and (min-width: $maxWidth) {
      grid-template-columns: repeat(3, 1fr);
    }
    
  }
  &-item {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 20px;
  }
}