.HomeHeader_home-header {
  overflow: hidden
}

.HomeHeader_home-header>div {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between
}

@media(min-width: 993px) {
  .HomeHeader_home-header>div {
    flex-direction: row;
    align-items: center
  }
}

.HomeHeader_home-header .HomeHeader_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2
}

@media(min-width: 993px) {
  .HomeHeader_home-header .HomeHeader_content {
    margin-top: -140px;
    max-width: 355px
  }
}

@media(max-width: 992px) {
  .HomeHeader_home-header .HomeHeader_content {
    margin-top: 50px;
    max-width: 300px
  }
}

.HomeHeader_home-header .HomeHeader_content>div {
  display: flex;
  flex-direction: column;
  gap: 16px
}

.HomeHeader_home-header .HomeHeader_content p {
  font-size: var(--font-14);
  margin-right: 40%;
}

.HomeHeader_home-header .HomeHeader_content h1 span {
  font-weight: 400;
}

@media(min-width: 993px) {
  .HomeHeader_home-header .HomeHeader_content p {
    font-size: var(--font-16)
  }
}

.HomeHeader_home-header .HomeHeader_image {
  height: 800px;
  align-items: flex-end;
  display: flex;
  position: absolute;
  background: var(--color-bg)
}

@media(min-width: 993px) {
  .HomeHeader_home-header .HomeHeader_image {
    height: 100%;
    width: 30%;
    max-width: 406px;
    left: 50%;
    transform: translateX(-50%)
  }
}

@media(max-width: 992px) {
  .HomeHeader_home-header .HomeHeader_image {
    width: 70%;
    right: 0
  }
}

.HomeHeader_home-header .HomeHeader_image>picture {
  width: 198%;
  position: absolute;
  left: 72%;
  pointer-events: none;
  transform: translateX(-50%)
}

@media(max-width: 992px) {
  .HomeHeader_home-header .HomeHeader_image>picture {
    width: 130%;
    max-width: 780px;
    min-width: 520px
  }
}

.HomeHeader_home-header .HomeHeader_bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 40px
}

@media(min-width: 993px) {
  .HomeHeader_home-header .HomeHeader_bio {
    width: 31%;
    max-width: 380px;
    height: 100%;
    padding-top: 6%
  }
}

@media(max-width: 992px) {
  .HomeHeader_home-header .HomeHeader_bio {
    margin-top: 380px;
    align-items: center;
    max-width: 580px
  }
}

.HomeHeader_home-header .HomeHeader_bio picture {
  width: 320px;
}

.HomeHeader_home-header .HomeHeader_bio-info>span {
  font-size: var(--font-12);
  color: var(--color-primary);
  margin-bottom: 8px;
  display: block
}

.HomeHeader_home-header .HomeHeader_bio-info h2,
.HomeHeader_home-header .HomeHeader_bio-info p {
  margin-bottom: 16px
}

.HomeHeader_home-header .HomeHeader_bio-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px
}

.HomeHeader_home-header .HomeHeader_bio-socials span {
  color: var(--color-black);
  font-weight: 500
}

.HomeHeader_home-header .HomeHeader_bio-socials hr {
  width: 24px;
  height: 1px;
  background-color: var(--color-text);
  display: block
}

.HomeHeader_home-header .HomeHeader_bio-socials a {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: var(--border-4)
}

.HomeHeader_home-header .HomeHeader_bio-socials a:hover {
  background-color: var(--color-primary-darken)
}

.HomeHeader_home-header .HomeHeader_bio-socials a img {
  width: 18px
}